[submodule "scripts/scanning_enumeration/scilla"]
	path = scripts/scanning_enumeration/scilla
	url = https://github.com/edoardottt/scilla.git
[submodule "scripts/exploitation/social-engineer-toolkit"]
	path = scripts/exploitation/social-engineer-toolkit
	url = https://github.com/trustedsec/social-engineer-toolkit.git
[submodule "scripts/scanning_enumeration/xsstrike"]
	path = scripts/scanning_enumeration/xsstrike
	url = https://github.com/s0md3v/XSStrike.git
[submodule "scripts/scanning_enumeration/AutoRecon"]
	path = scripts/scanning_enumeration/AutoRecon
	url = https://github.com/Tib3rius/AutoRecon.git
[submodule "scripts/exploitation/Name-That-Hash"]
	path = scripts/exploitation/Name-That-Hash
	url = https://github.com/HashPals/Name-That-Hash
